body {
    background-color: #6f7e96;
}

.text {
    font-size: 18px;
    font-family: sans-serif;
    padding-right: 20%;
}

.margin {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #aebacf;
    width: 18%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}

.card {
    background-color: aliceblue;
    width: 50%;
    height:35%;
    border-radius: 10px;
    margin-top: 50px;
    padding-top:10px;
    padding-bottom: 50px;
}

.header {
    text-align: center;
}

.img {
    float: right;
    height: 70%;
    padding-right: 5%;
}

.button {
    margin-top: 20%;
    margin-left: 10%;
}
