.parent {
    display: flex;
    width: 100%;
    flex-flow: row wrap;

}

body,
html,
* {
    font-size: 25px;
    box-sizing: border-box;
    margin: 20px;
    padding: 0px;
}

.IDcard {
    height: 20vw;
    width: 30%;
    background-color: #fff2e6;
    border-radius: 25px;
    justify-content: space-between;
    text-align: center;
    display: flexbox;
}

body {
    background-color: #6f7e96;
}

.text {
    font-size: 20px;
    font-family: sans-serif;
}

.margin {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #aebacf;
    width: 30%;
    border-radius: 20px
}

.resultCard {
    background-color: aliceblue;
    width: 40%;
    height:35%;
    border-radius: 10px;
    margin-top: 50px;
    padding-top:10px;
    padding-bottom: 50px;
}

.header {
    text-align: center;
}

.img {
    float: right;
    height: 35%;
    align-items: center;
}

